input {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
